<h1>Welcome</h1>
<p>This doc was generated from the twitter-stream-channels source code with yuidoc.</p>
<p><a href="./classes/TwitterStreamChannels.html" title="Get started">Let's start with the TwitterStreamChannels class ;-) ...</a></p>
<hr>
<p>
  You can also find informations on :
  <ul>
    <li><a href="https://github.com/topheman/twitter-stream-channels" title="Github repo of twitter-stream-channels">the github repo of the project</a></li>
    <li><a href="https://www.npmjs.org/package/twitter-stream-channels" title="twitter-stream-channels on npm">npm</a> - to install the module : <code>npm install twitter-stream-channels</code></li>
  </ul>
</p>